In [1]:
#essential imports
import pandas as pd
import numpy as np

import datetime as dt
import time

# Strict JSON conversion
import json 
import gzip 
 
startyear=1990
startmonth=1

cps = 4
# how many month before the death of the artist are used as feature 
nbMonthBeforeDeath = 4

datapath = 'DATA/review_filtered/'
f_sbj_reviews = datapath+'music_reviews_matched_'+str(cps)+'cps.csv'
f_ctl_reviews = datapath+'music_reviews_matched_'+str(cps)+'cps_ctrls.csv'

# Load data

reviews related to subject (=dead) artists

In [2]:
sbj_reviews = pd.read_csv(f_sbj_reviews).drop('Unnamed: 0',axis=1)
sbj_reviews = sbj_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'})
sbj_reviews.head(3)

,asin,reviewText,summary,strReviewTime,artist name,death date,birth date
0,B000KB9Y6U,I bought this item because it did not say vyna...,Should be more descriptive in the title.,2013-05-23,paul delph,1996-05-21,1957
1,B000KB9Y6U,Chrissy Faith is wonderful I must say!! What ...,You should listen this!!,2013-11-09,paul delph,1996-05-21,1957
2,B000KB9Y6U,this product came quickly and there were no is...,great music,2013-04-26,paul delph,1996-05-21,1957

reviews related to control (=dead) artists

In [3]:
ctl_reviews = pd.read_csv(f_ctl_reviews).drop('Unnamed: 0',axis=1)
ctl_reviews = ctl_reviews.rename(columns={'reviewTime' : 'strReviewTime', 'actor name' : 'artist name', 
                                          'musician name' : 'artist name', 'name' : 'artist name'})
ctl_reviews.head(3)

,asin,reviewText,summary,strReviewTime,artist name,death date,birth date
0,B0002VYEHW,"In a reggae universe gone mad for dancehall, T...",Plain good reggae,2005-08-23,tike jah fakoly,unknown,unknown
1,B0002VYEHW,"Tiken Jah's ""Coup de Gueule"" is on the continu...","MBafoh Pian!!!( I Shall Say It Loud and Sound,...",2006-03-10,tike jah fakoly,unknown,unknown
2,B0040AT66U,This is very touching little opera. The libret...,A Mini Masterpiece,2013-05-28,patricia risley,unknown,unknown

# Pre-process data 

- transform string dates into formats that are easier for us to work with
- keep on the side the 'death date' <-> 'artist name relation

Convert dates to year and extract and set aside actor<-> deathdates

In [4]:
# returns as an int the month of the date passed as argument. Apply to a serie !
def strdateToMonth(date) : 
    year = int(str(date)[:4])
    month = int(str(date)[5:7])
    assert(month <= 12 and month >= 1)
    return (month - startmonth) + (year - startyear)*12 

# returns as an int the year of the date passed as argument. Apply to a serie !
def strdateToYear(date) : 
    return int(str(date)[:4])

# SUBJECTS
sbj_reviews['reviewMonth'] = sbj_reviews['strReviewTime'].apply(strdateToMonth)
sbj_reviews['reviewYear'] = sbj_reviews['strReviewTime'].apply(strdateToYear)
sbj_reviews['reviewTime'] = pd.to_datetime(sbj_reviews['strReviewTime'])
sbj_reviews['death month'] = sbj_reviews['death date'].apply(strdateToMonth)
sbj_reviews['death year'] = sbj_reviews['death date'].apply(strdateToYear)
sbj_reviews['death date'] = pd.to_datetime(sbj_reviews['death date'])

# CONTROLS
ctl_reviews['reviewMonth'] = ctl_reviews['strReviewTime'].apply(strdateToMonth)
ctl_reviews['reviewYear'] = ctl_reviews['strReviewTime'].apply(strdateToYear)
ctl_reviews['reviewTime'] = pd.to_datetime(ctl_reviews['strReviewTime'])

Set aside the 'death date' <-> 'artist name relation

In [5]:
deathdates = sbj_reviews.groupby(['artist name','death date', 'death year', 'death month']).count()\
                            .reset_index()[['artist name', 'death date', 'death year', 'death month']]
deathdates.head()

      artist name death date  death year  death month
0  adrian borland 1999-04-26        1999          111
1   akira ifukube 2006-02-08        2006          193
2         al hirt 1999-04-27        1999          111
3      al martino 2009-10-13        2009          237
4   alain bashung 2009-03-14        2009          230

Extract controls names

In [6]:
#TODO : remove
#ctrl_names = list(set(controls_actors['actor name']))\
#sbj_names = list(deathdates['actor name'])

# filtering

### 'mentionned' Boolean

We want to distinguish which artists are frequently mentionned in their reviews; i.e, those that are popular, as opposed to those that just appear to play/sing with some other, more popular artist.
We add the boolean ['mentionned'] that tells if the artist listed with the review is mentionnned in the text of the review.

In [7]:
thresh_pop = 1

def mentionsName(row) : 
    if type(row['reviewText']) is str :
        names = row['artist name'].split(' ')
        text =  row['reviewText'].lower()
        # can mention only name or surname
        #return row['actor name'] in row['reviewText']
        for name in names : 
            if name in text : 
                return True
        return False
    else : return False

In [8]:
## Treat subjects
##
sbj_reviews['mentionned'] = sbj_reviews.apply(mentionsName, axis=1)
sbj_reviews.shape, sbj_reviews[sbj_reviews['mentionned']==True].shape

((320780, 13), (96181, 13))

In [9]:
## Treat controls
##
ctl_reviews['mentionned'] = ctl_reviews.apply(mentionsName, axis=1)
ctl_reviews.shape, ctl_reviews[ctl_reviews['mentionned']==True].shape

((119120, 11), (38852, 11))

Not necessarily important for later : the list of the most-mentionned subjects and controls

In [10]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
sbj_popular = sbj_reviews[sbj_reviews['mentionned']==True]
sbj_popular = sbj_popular.groupby('artist name').count()['asin']
print(sbj_reviews.shape[0], " reduced to", sbj_popular.shape)
sbj_popular.sort_values(ascending=False)[:5]

320780  reduced to (348,)

artist name
the rev            9136
johnny cash        4492
big l              2960
whitney houston    2392
john denver        2139
Name: asin, dtype: int64

In [11]:
## Not necessarily needed, count of mentions are still in the reviews dataframe
##
ctl_popular = ctl_reviews[ctl_reviews['mentionned']==True]
ctl_popular = ctl_popular.groupby('artist name').count()['asin']
print(ctl_reviews.shape[0], " reduced to", ctl_popular.shape)
ctl_popular.sort_values(ascending=False)[:5]

119120  reduced to (1258,)

artist name
elvis presley      6307
andrea bocelli     2499
george harrison    2337
diana ross         1614
toni braxton       1125
Name: asin, dtype: int64

### Date filtering

We're only interested in the reviews of subjects that died in a recent time period because amazon's popularity is recent, so we'll have much more amazon data after year 2000. Therefore, we will only keep the reviews for which the subject died within a 2003-2014 time period, otherwise, the artist died too long ago.

In [19]:
start_year = 2004
end_year = 2014

print('original size : ', sbj_reviews.shape)
sbj_reviews = sbj_reviews[(sbj_reviews['death year']>=start_year) \
                        & (sbj_reviews['death year']<=end_year)]
print('filtered size : ', sbj_reviews.shape)
sbj_reviews.head(3)

original size :  (320780, 13)
filtered size :  (166352, 13)

,asin,reviewText,summary,strReviewTime,artist name,death date,birth date,reviewMonth,reviewYear,reviewTime,death month,death year,mentionned
154428,B00004XQMG,"Great Album. Mix of Upbeat, w/reserved. Defini...",The French Tom Jones/avec plus de jazz,2004-06-14,claude nougaro,2004-03-04,1929,173,2004,2004-06-14,170,2004,False
154429,B00004YWCV,The legendary Charles Aznavour was in his mid ...,&quot;Entertainer of the Century&quot;,2001-11-21,claude nougaro,2004-03-04,1929,142,2001,2001-11-21,170,2004,False
154430,B00004YWCV,UNBELIEVABLE CD INCREDIBLE CONDITION AS IF IT ...,FANTASTIC,2013-06-26,claude nougaro,2004-03-04,1929,281,2013,2013-06-26,170,2004,False

# Extract features used to match controls with subjects

We will use as features the number of review per month for a 4 months before the death of the subject. We obtain a features vector that we will try to match best between control and subjects.

Since the controls didn't die however, and since the amount of amazon reviews is generated increasingly fast as time passses, we will this feature for every control, for every subject we try to match it to, using the subject's death date as reference point and using the control's number of reviews one month before, two months before, and so on.

In [20]:
# relative count of months before death (-1, -2, ...)
relMonthBeforeDeath = [-i for i in range(1, nbMonthBeforeDeath+1)]
# string matching the feature's column in the subject's dataframe
relFeaturesStr = { i : 'revs'+str(i) for i in relMonthBeforeDeath}

In [21]:
# SUBJECTS COUNTS BY MONTH
sbj_reviews_monthly = sbj_reviews.groupby(['artist name','reviewMonth']).count()


''' returns the number of reviews for the subject in row, 'relMonthNb' months before his death month
'''
def getreview_month_subjects(row, relMonthNb) : 
    actor = row['artist name']
    deathMonth = int(row['death month'])
    try : 
        val = sbj_reviews_monthly.loc[actor, int(deathMonth+relMonthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0
    

    
sbj_monthly_feats = pd.DataFrame(deathdates[['artist name', 'death month']])
for i in relMonthBeforeDeath :
    sbj_monthly_feats[relFeaturesStr[i]] = sbj_monthly_feats\
                                    .apply(lambda row : getreview_month_subjects(row, i), axis=1)

## Compute the norm of the feature
##
def feature_norm(row) : 
    feature = [row[relFeaturesStr[i]] for i in relMonthBeforeDeath]
    return np.linalg.norm(feature)

sbj_monthly_feats['featureNorm'] = sbj_monthly_feats.apply(feature_norm, axis=1)
sbj_monthly_feats['death date'] = deathdates['death date']
        
sbj_monthly_feats.sort_values(by='featureNorm', ascending=False).head()

,artist name,death month,revs-1,revs-2,revs-3,revs-4,featureNorm,death date
290,proof,195,107,114,112,155,247.010121,2006-04-11
121,george jones,279,135,102,100,86,214.534380,2013-04-26
171,jj cale,282,25,50,99,136,177.262517,2013-07-26
335,the rev,239,52,52,84,65,129.185913,2009-12-28
222,lou reed,285,79,39,37,29,99.859902,2013-10-27

# Matching

Prepare the control's dataframe for matching, and create a function that computes the features for subjects

In [22]:
ctl_reviews_sorted = ctl_reviews.groupby(['artist name','reviewMonth'])\
                                .count()['asin']\
                                .to_frame().reset_index()
        
ctl_reviews_sorted.sort_values(by=['artist name', 'asin']).head()

      artist name  reviewMonth  asin
0        a campra          185     1
1  a khachaturian          195     1
2  a khachaturian          197     1
3  a khachaturian          208     1
4  a khachaturian          222     1

In [23]:
''' returns the number of reviews for the control in row, 
    looking in 'musiciansDataframe', 'relMonthNb' months before 'deathMonth'
'''
def getreview_month_controls(row, monthNb, musiciansDataframe, deathMonth) : 
    actor = row['artist name']
    try : 
        val = musiciansDataframe.loc[actor, int(deathMonth+monthNb)]['asin']
        return int(val)
    ## Both exceptions can happen when the indexing keys are 
    ## not in the index == when there were no review for the actor at the given month
    except TypeError :
        #print('key (', actor, ', '+str(deathMonth+monthNb)+') returned typeError')
        return 0
    except KeyError :
        #print('key (', actor, ', ', deathMonth, ') found no match in the index')
        return 0

### Matching algorithm : 
   
   
Match is a greedy function, that given a threshold and a subject, will iterate over the controls, compare the features, and if the difference is below a given threshold, call it a match. If the threshold cannot be met, it returns that it couldn't match.
We call this function over all the subjects, increasing the threshold until a match can be found.

In [24]:
# helper to obtain a value after indexing on a dataframe
def unwrap(subjectStuff) : 
    return subjectStuff.tolist()[0]

def match(artistname, threshold, ctrl_revs) : 

    # extract the useful features for the subject 
    subject = sbj_monthly_feats[sbj_monthly_feats['artist name'] == artistname]
    deathmonth = int(subject['death month'])
    sbjname = unwrap(subject['artist name'])
    feature = [unwrap(subject[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    #print(sbj_actor)
    #print('feature : ', feature)
    
    for control in ctrl_revs.groupby('artist name').count().reset_index().iterrows() : 
        
        # iterrows returns tuple (0, row)
        idx = control[0]
        control = control[1]
        
        # Compute feature
        ctrl_feature = [getreview_month_controls(control, i, 
                                        ctrl_revs.set_index(['artist name', 'reviewMonth']), 
                                        deathMonth=deathmonth) \
                        for i in relMonthBeforeDeath]
        
        #print('   ctrl_feature : ', ctrl_feature )
        
        diff = np.linalg.norm(np.array(feature) - np.array(ctrl_feature))
        
        #print('    diff : ', diff)
        
        if diff <= threshold : 
            matched_name = control['artist name']
            matched_count = ctrl_feature
            
            #ctrl_revs = ctrl_revs[ctrl_revs['actor name'].isin([matched_name])==False]
            ctrl_revs = ctrl_revs[ctrl_revs['artist name']!=matched_name]
            
            print('    ', sbjname, ' matched with ', matched_name)
            print('    ', feature, ' ~ ' , ctrl_feature)
            return matched_name, ctrl_feature, ctrl_revs
    
    print('    1 iteration completed over all controls')
    return 0, 0, ctrl_revs

In [25]:
ctrl_revs = ctl_reviews_sorted.copy()
sbj_monthly_feats_sorted = sbj_monthly_feats.sort_values(by='featureNorm', ascending=False)

sbj_list = []
sbj_feat_list = []
sbj_death_list = []
ctl_list = []
ctl_feat_list = []

for idx, subject_name in enumerate(sbj_monthly_feats_sorted['artist name']):
    
    if idx%50 == 0: 
        print(idx, " subjects out of ", len(sbj_monthly_feats['artist name']))
    
    # extract the feature for the subject and use it to set the threshold
    subject = sbj_monthly_feats_sorted[sbj_monthly_feats_sorted['artist name'] == subject_name]
    feature = [unwrap(subject[relFeaturesStr[i]]) for i in relMonthBeforeDeath]
    
    sbjname = unwrap(subject['artist name'])
    print(sbjname, '-', feature)
    
    featureNorm = subject['featureNorm']
    thr = int(8 + 0.12*featureNorm)
    mtch = 0

    while mtch == 0:
        
        name, ctrl_feature, ctrl_revs_ = match(sbjname,thr,ctrl_revs)
        
        # Scramble the order of iteration of controls for the next iteration
        ctrl_revs = ctrl_revs_.sample(frac=1) 
        
        if name != 0:
            
            #print(subject_name+' matched with '+name)
            sbjDeathDate = unwrap(subject['death date'])
            
            sbj_list.append(sbjname)
            sbj_feat_list.append(feature)
            sbj_death_list.append(sbjDeathDate)
            ctl_list.append(name)
            ctl_feat_list.append(ctrl_feature)
            
            mtch += 1
            
        
        thr += int(0.3*thr + 1)
        print('  thr increased: ', thr)
            
print('DONE')

0  subjects out of  368
proof - [107, 114, 112, 155]
    1 iteration completed over all controls
  thr increased:  49
    1 iteration completed over all controls
  thr increased:  64
    1 iteration completed over all controls
  thr increased:  84
    1 iteration completed over all controls
  thr increased:  110
     proof  matched with  elvis presley
     [107, 114, 112, 155]  ~  [106, 72, 57, 70]
  thr increased:  144
george jones - [135, 102, 100, 86]
    1 iteration completed over all controls
  thr increased:  43
    1 iteration completed over all controls
  thr increased:  56
    1 iteration completed over all controls
  thr increased:  73
     george jones  matched with  george harrison
     [135, 102, 100, 86]  ~  [71, 81, 92, 79]
  thr increased:  95
jj cale - [25, 50, 99, 136]
    1 iteration completed over all controls
  thr increased:  38
     jj cale  matched with  steve winwood
     [25, 50, 99, 136]  ~  [37, 80, 102, 144]
  thr increased:  50
the rev - [52, 52, 84, 65]
    1 iteration completed over all controls
  thr increased:  30
    1 iteration completed over all controls
  thr increased:  40
    1 iteration completed over all controls
  thr increased:  53
    1 iteration completed over all controls
  thr increased:  69
    1 iteration completed over all controls
  thr increased:  90
     the rev  matched with  daniel lanois
     [52, 52, 84, 65]  ~  [16, 23, 25, 26]
  thr increased:  118
lou reed - [79, 39, 37, 29]
    1 iteration completed over all controls
  thr increased:  25
    1 iteration completed over all controls
  thr increased:  33
    1 iteration completed over all controls
  thr increased:  43
     lou reed  matched with  kacey musgraves
     [79, 39, 37, 29]  ~  [42, 43, 22, 32]
  thr increased:  56
johnny winter - [15, 16, 54, 39]
    1 iteration completed over all controls
  thr increased:  21
     johnny winter  matched with  michael thompson
     [15, 16, 54, 39]  ~  [7, 22, 39, 35]
  thr increased:  28
james brown - [34, 32, 33, 33]
    1 iteration completed over all controls
  thr increased:  20
    1 iteration completed over all controls
  thr increased:  27
    1 iteration completed over all controls
  thr increased:  36
     james brown  matched with  andrea bocelli
     [34, 32, 33, 33]  ~  [25, 13, 17, 25]
  thr increased:  47
etta james - [46, 37, 23, 17]
    1 iteration completed over all controls
  thr increased:  20
    1 iteration completed over all controls
  thr increased:  27
    1 iteration completed over all controls
  thr increased:  36
    1 iteration completed over all controls
  thr increased:  47
     etta james  matched with  collin raye
     [46, 37, 23, 17]  ~  [29, 8, 3, 5]
  thr increased:  62
laura branigan - [16, 24, 22, 47]
    1 iteration completed over all controls
  thr increased:  20
     laura branigan  matched with  lizzie mcguire
     [16, 24, 22, 47]  ~  [13, 18, 22, 31]
  thr increased:  27
whitney houston - [35, 36, 26, 14]
    1 iteration completed over all controls
  thr increased:  19
    1 iteration completed over all controls
  thr increased:  25
    1 iteration completed over all controls
  thr increased:  33
    1 iteration completed over all controls
  thr increased:  43
     whitney houston  matched with  brian setzer
     [35, 36, 26, 14]  ~  [18, 9, 1, 4]
  thr increased:  56
rick james - [18, 33, 43, 0]
    1 iteration completed over all controls
  thr increased:  19
    1 iteration completed over all controls
  thr increased:  25
    1 iteration completed over all controls
  thr increased:  33
    1 iteration completed over all controls
  thr increased:  43
     rick james  matched with  danny elfman
     [18, 33, 43, 0]  ~  [11, 19, 15, 13]
  thr increased:  56
luther vandross - [21, 36, 29, 18]
    1 iteration completed over all controls
  thr increased:  19
    1 iteration completed over all controls
  thr increased:  25
     luther vandross  matched with  scott weiland
     [21, 36, 29, 18]  ~  [10, 21, 22, 14]
  thr increased:  33
ray charles - [10, 17, 20, 42]
    1 iteration completed over all controls
  thr increased:  19
     ray charles  matched with  diana ross
     [10, 17, 20, 42]  ~  [16, 10, 9, 40]
  thr increased:  25
charlie haden - [19, 20, 25, 32]
     charlie haden  matched with  heitor pereira
     [19, 20, 25, 32]  ~  [13, 14, 18, 32]
  thr increased:  17
ray price - [18, 20, 25, 26]
     ray price  matched with  fraser walters
     [18, 20, 25, 26]  ~  [19, 18, 17, 28]
  thr increased:  17
pete seeger - [20, 28, 17, 18]
    1 iteration completed over all controls
  thr increased:  17
     pete seeger  matched with  eric burdon
     [20, 28, 17, 18]  ~  [21, 14, 15, 13]
  thr increased:  23
pimp c - [8, 10, 30, 22]
    1 iteration completed over all controls
  thr increased:  16
    1 iteration completed over all controls
  thr increased:  21
    1 iteration completed over all controls
  thr increased:  28
     pimp c  matched with  jon brion
     [8, 10, 30, 22]  ~  [3, 5, 9, 6]
  thr increased:  37
dave brubeck - [27, 14, 13, 7]
    1 iteration completed over all controls
  thr increased:  16
     dave brubeck  matched with  lara fabian
     [27, 14, 13, 7]  ~  [23, 4, 5, 3]
  thr increased:  21
bobby bland - [11, 13, 13, 23]
     bobby bland  matched with  da vince
     [11, 13, 13, 23]  ~  [13, 19, 16, 16]
  thr increased:  15
oscar peterson - [15, 10, 16, 17]
    1 iteration completed over all controls
  thr increased:  15
    1 iteration completed over all controls
  thr increased:  20
     oscar peterson  matched with  loreena mckennitt
     [15, 10, 16, 17]  ~  [19, 27, 18, 18]
  thr increased:  27
amy winehouse - [10, 17, 10, 17]
    1 iteration completed over all controls
  thr increased:  15
    1 iteration completed over all controls
  thr increased:  20
     amy winehouse  matched with  bruce conte
     [10, 17, 10, 17]  ~  [2, 4, 5, 8]
  thr increased:  27
horace silver - [10, 13, 18, 12]
     horace silver  matched with  daniel merriweather
     [10, 13, 18, 12]  ~  [9, 9, 18, 20]
  thr increased:  15
solomon burke - [26, 4, 2, 4]
     solomon burke  matched with  nils lofgren
     [26, 4, 2, 4]  ~  [25, 2, 4, 2]
  thr increased:  15
syd barrett - [10, 8, 17, 15]
    1 iteration completed over all controls
  thr increased:  15
     syd barrett  matched with  nanci griffith
     [10, 8, 17, 15]  ~  [7, 12, 5, 10]
  thr increased:  20
richie havens - [10, 8, 13, 18]
     richie havens  matched with  brett james
     [10, 8, 13, 18]  ~  [4, 6, 15, 11]
  thr increased:  15
dan fogelberg - [3, 15, 19, 4]
    1 iteration completed over all controls
  thr increased:  14
     dan fogelberg  matched with  rory gallagher
     [3, 15, 19, 4]  ~  [3, 7, 9, 5]
  thr increased:  19
donna summer - [12, 8, 10, 17]
    1 iteration completed over all controls
  thr increased:  14
     donna summer  matched with  keith emerson
     [12, 8, 10, 17]  ~  [6, 7, 7, 9]
  thr increased:  19
bo diddley - [12, 13, 12, 9]
     bo diddley  matched with  johann sebastian
     [12, 13, 12, 9]  ~  [6, 7, 9, 9]
  thr increased:  14
alvin lee - [13, 12, 11, 10]
     alvin lee  matched with  bebo norman
     [13, 12, 11, 10]  ~  [6, 12, 8, 6]
  thr increased:  14
ol dirty bastard - [16, 6, 6, 13]
    1 iteration completed over all controls
  thr increased:  14
     ol dirty bastard  matched with  gustavo santaolalla
     [16, 6, 6, 13]  ~  [20, 6, 0, 1]
  thr increased:  19
jim hall - [11, 13, 9, 9]
     jim hall  matched with  david hidalgo
     [11, 13, 9, 9]  ~  [17, 8, 4, 12]
  thr increased:  14
bobby womack - [5, 8, 11, 15]
     bobby womack  matched with  christian borle
     [5, 8, 11, 15]  ~  [5, 4, 4, 17]
  thr increased:  14
freddie hubbard - [5, 14, 7, 11]
     freddie hubbard  matched with  jackie mclean
     [5, 14, 7, 11]  ~  [2, 8, 6, 5]
  thr increased:  14
max roach - [10, 1, 11, 12]
     max roach  matched with  jon hendricks
     [10, 1, 11, 12]  ~  [5, 3, 6, 7]
  thr increased:  14
levon helm - [5, 6, 8, 15]
     levon helm  matched with  leon redbone
     [5, 6, 8, 15]  ~  [1, 1, 5, 9]
  thr increased:  14
ronnie james dio - [4, 14, 5, 9]
     ronnie james dio  matched with  wanda jackson
     [4, 14, 5, 9]  ~  [5, 8, 6, 5]
  thr increased:  14
lorin maazel - [8, 8, 9, 8]

     lorin maazel  matched with  alfred hitchcock
     [8, 8, 9, 8]  ~  [2, 8, 6, 3]
  thr increased:  12
isaac hayes - [7, 10, 7, 8]
     isaac hayes  matched with  bebel gilberto
     [7, 10, 7, 8]  ~  [8, 8, 3, 5]
  thr increased:  12
lou rawls - [12, 9, 4, 3]
     lou rawls  matched with  keith murray
     [12, 9, 4, 3]  ~  [6, 6, 4, 1]
  thr increased:  12
patti page - [10, 11, 4, 2]
     patti page  matched with  eliane elias
     [10, 11, 4, 2]  ~  [7, 7, 1, 3]
  thr increased:  12
billy preston - [3, 6, 8, 10]
     billy preston  matched with  dax riggs
     [3, 6, 8, 10]  ~  [1, 0, 3, 7]
  thr increased:  12
michael brecker - [6, 10, 3, 5]
     michael brecker  matched with  dietrich fische
     [6, 10, 3, 5]  ~  [1, 9, 0, 0]
  thr increased:  12
joe zawinul - [4, 8, 0, 8]
     joe zawinul  matched with  christian fennesz
     [4, 8, 0, 8]  ~  [0, 1, 0, 4]
  thr increased:  12
les paul - [4, 2, 4, 10]
     les paul  matched with  dj khaled
     [4, 2, 4, 10]  ~  [4, 2, 2, 2]
  thr increased:  12
gary moore - [5, 4, 8, 5]
     gary moore  matched with  arto lindsay
     [5, 4, 8, 5]  ~  [3, 3, 3, 9]
  thr increased:  12
jo stafford - [3, 10, 4, 2]
     jo stafford  matched with  annie ross
     [3, 10, 4, 2]  ~  [1, 3, 2, 1]
  thr increased:  12
captain beefheart - [9, 1, 3, 6]
     captain beefheart  matched with  corpus christi
     [9, 1, 3, 6]  ~  [5, 3, 6, 6]
  thr increased:  12
robin gibb - [11, 0, 1, 1]
     robin gibb  matched with  betty everett
     [11, 0, 1, 1]  ~  [4, 0, 0, 0]
  thr increased:  12
earl scruggs - [9, 5, 2, 3]
     earl scruggs  matched with  bruce molsky
     [9, 5, 2, 3]  ~  [2, 1, 1, 1]
  thr increased:  12
andy williams - [8, 4, 5, 3]
     andy williams  matched with  beatriz montes
     [8, 4, 5, 3]  ~  [2, 1, 0, 0]
  thr increased:  12
50  subjects out of  368
lee hazlewood - [6, 7, 2, 3]
     lee hazlewood  matched with  andrew davis
     [6, 7, 2, 3]  ~  [2, 3, 3, 0]
  thr increased:  12
chico hamilton - [3, 2, 9, 2]
     chico hamilton  matched with  aaron espe
     [3, 2, 9, 2]  ~  [0, 0, 1, 1]
  thr increased:  12
luciano pavarotti - [2, 7, 4, 2]
     luciano pavarotti  matched with  a campra
     [2, 7, 4, 2]  ~  [0, 0, 0, 0]
  thr increased:  12
paul motian - [5, 4, 2, 4]
     paul motian  matched with  a khachaturian
     [5, 4, 2, 4]  ~  [0, 1, 0, 0]
  thr increased:  11
birgit nilsson - [0, 2, 7, 2]
     birgit nilsson  matched with  a saygun
     [0, 2, 7, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
john barry - [1, 4, 1, 6]
     john barry  matched with  a schoenberg
     [1, 4, 1, 6]  ~  [0, 0, 0, 0]
  thr increased:  11
jeff healey - [4, 6, 1, 0]
     jeff healey  matched with  aaron katz
     [4, 6, 1, 0]  ~  [1, 0, 0, 0]
  thr increased:  11
arthur lee - [6, 3, 2, 1]
     arthur lee  matched with  aaron pritchett
     [6, 3, 2, 1]  ~  [1, 0, 1, 0]
  thr increased:  11
ruth brown - [2, 4, 5, 0]
     ruth brown  matched with  aaron schroeder
     [2, 4, 5, 0]  ~  [4, 4, 0, 0]
  thr increased:  11
yusef lateef - [6, 3, 0, 0]
     yusef lateef  matched with  abenicio sanchez
     [6, 3, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
cedar walton - [5, 1, 3, 3]
     cedar walton  matched with  aaron tippin
     [5, 1, 3, 3]  ~  [4, 6, 4, 2]
  thr increased:  11
ike turner - [4, 2, 1, 4]
     ike turner  matched with  abi tapia
     [4, 2, 1, 4]  ~  [0, 0, 0, 0]
  thr increased:  11
dietrich fischer-dieskau - [3, 3, 1, 4]
     dietrich fischer-dieskau  matched with  accademia bizantina
     [3, 3, 1, 4]  ~  [0, 0, 0, 0]
  thr increased:  11
davy jones - [3, 4, 0, 3]
     davy jones  matched with  adam beyer
     [3, 4, 0, 3]  ~  [0, 0, 0, 0]
  thr increased:  11
van cliburn - [4, 1, 4, 1]
     van cliburn  matched with  adam ditchburn
     [4, 1, 4, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
maynard ferguson - [5, 1, 2, 2]
     maynard ferguson  matched with  adam mcinnis
     [5, 1, 2, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
lena horne - [2, 2, 3, 4]
     lena horne  matched with  adam mcintyre
     [2, 2, 3, 4]  ~  [0, 0, 0, 0]
  thr increased:  11
gene pitney - [5, 2, 2, 0]
     gene pitney  matched with  adama drame
     [5, 2, 2, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
john tavener - [4, 2, 0, 3]
     john tavener  matched with  adrian von ziegler
     [4, 2, 0, 3]  ~  [0, 0, 0, 0]
  thr increased:  11
nate dogg - [0, 1, 1, 5]
     nate dogg  matched with  afterdark-san francisco
     [0, 1, 1, 5]  ~  [0, 0, 0, 0]
  thr increased:  11
jon lord - [4, 2, 2, 1]
     jon lord  matched with  agnes baltsa mezzo-soprano
     [4, 2, 2, 1]  ~  [0, 1, 0, 1]
  thr increased:  11
george shearing - [2, 4, 1, 2]
     george shearing  matched with  agnetha fältskog frida
     [2, 4, 1, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
gerry rafferty - [2, 2, 0, 4]
     gerry rafferty  matched with  agua buena
     [2, 2, 0, 4]  ~  [0, 0, 0, 0]
  thr increased:  11
hal david - [2, 1, 4, 1]
     hal david  matched with  aileen denny
     [2, 1, 4, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
koko taylor - [0, 3, 3, 2]
     koko taylor  matched with  aj castillo
     [0, 3, 3, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
jerry goldsmith - [3, 3, 2, 0]
     jerry goldsmith  matched with  aki misato
     [3, 3, 2, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
elisabeth schwarzkopf - [4, 2, 0, 1]
     elisabeth schwarzkopf  matched with  akila barrett
     [4, 2, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
marvin hamlisch - [1, 4, 1, 0]
     marvin hamlisch  matched with  aksel schiotz
     [1, 4, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
eartha kitt - [4, 1, 1, 0]
     eartha kitt  matched with  alabama sym
     [4, 1, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
marian mcpartland - [2, 2, 0, 3]
     marian mcpartland  matched with  alain vinet mouvement
     [2, 2, 0, 3]  ~  [0, 0, 0, 0]
  thr increased:  11
peter banks - [1, 3, 1, 2]
     peter banks  matched with  alam mcghee
     [1, 3, 1, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
johnny griffin - [1, 1, 3, 2]
     johnny griffin  matched with  alasdair gillies
     [1, 1, 3, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
tony sheridan - [2, 3, 0, 0]
     tony sheridan  matched with  albert dohmen
     [2, 3, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
peter steele - [2, 0, 0, 3]
     peter steele  matched with  albert sammons
     [2, 0, 0, 3]  ~  [0, 0, 0, 0]
  thr increased:  11
gil scott-heron - [2, 2, 0, 2]
     gil scott-heron  matched with  alberto rigoni
     [2, 2, 0, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
alice coltrane - [1, 1, 3, 1]
     alice coltrane  matched with  alberto rinaldi
     [1, 1, 3, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
frankie laine - [2, 0, 2, 2]
     frankie laine  matched with  alberto rivera
     [2, 0, 2, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
yma sumac - [0, 1, 3, 1]
     yma sumac  matched with  aldo protti
     [0, 1, 3, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
beverly sills - [3, 0, 0, 1]
     beverly sills  matched with  aldo tagliapietra
     [3, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
wolfgang sawallisch - [3, 0, 0, 1]
     wolfgang sawallisch  matched with  alejandra orozco
     [3, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
giuseppe di stefano - [3, 0, 0, 1]
     giuseppe di stefano  matched with  alessandro deljavan
     [3, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
long john baldry - [0, 1, 3, 0]
     long john baldry  matched with  alestar digby
     [0, 1, 3, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
wilson pickett - [1, 1, 2, 2]
     wilson pickett  matched with  alex hirsch
     [1, 1, 2, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
basil poledouris - [2, 1, 1, 2]
     basil poledouris  matched with  alex santer
     [2, 1, 1, 2]  ~  [1, 0, 0, 0]
  thr increased:  11
dimebag darrell - [2, 2, 1, 1]
     dimebag darrell  matched with  alex st clair snouffer
     [2, 2, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
kevin ayers - [3, 0, 0, 1]
     kevin ayers  matched with  alexandra mascolo-david
     [3, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
mitch mitchell - [1, 2, 0, 2]
     mitch mitchell  matched with  alexandra silocea
     [1, 2, 0, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
al martino - [1, 2, 0, 2]
     al martino  matched with  alfred apaka
     [1, 2, 0, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
mercedes sosa - [3, 0, 0, 0]
     mercedes sosa  matched with  alfred cortoc
     [3, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
anita oday - [1, 0, 2, 2]

     anita oday  matched with  alfred lessing
     [1, 0, 2, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
100  subjects out of  368
clarence clemons - [2, 0, 2, 0]
     clarence clemons  matched with  alice gomez
     [2, 0, 2, 0]  ~  [1, 0, 0, 1]
  thr increased:  11
carlo bergonzi - [1, 1, 2, 1]
     carlo bergonzi  matched with  alicia dara
     [1, 1, 2, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
odetta - [1, 0, 1, 2]
     odetta  matched with  alicia zizzo
     [1, 0, 1, 2]  ~  [0, 0, 0, 0]
  thr increased:  11
joan sutherland - [1, 1, 2, 0]
     joan sutherland  matched with  alisa fineman
     [1, 1, 2, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
renata tebaldi - [0, 1, 1, 2]
     renata tebaldi  matched with  alison crockett
     [0, 1, 1, 2]  ~  [0, 0, 1, 0]
  thr increased:  11
jerry reed - [0, 1, 2, 1]
     jerry reed  matched with  alison crum
     [0, 1, 2, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
henri salvador - [2, 1, 0, 0]
     henri salvador  matched with  alix dobkin
     [2, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
gregory isaacs - [0, 0, 2, 1]
     gregory isaacs  matched with  alix korey
     [0, 0, 2, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
malcolm mclaren - [0, 2, 0, 1]
     malcolm mclaren  matched with  alla borzova
     [0, 2, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
elliott carter - [1, 1, 1, 1]
     elliott carter  matched with  allie danielle
     [1, 1, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
georges moustaki - [1, 1, 1, 1]
     georges moustaki  matched with  alphonso mouzon
     [1, 1, 1, 1]  ~  [0, 1, 0, 0]
  thr increased:  11
johnny ramone - [0, 0, 2, 0]
     johnny ramone  matched with  alusa fallax
     [0, 0, 2, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
elaine stritch - [1, 1, 1, 1]
     elaine stritch  matched with  alyson cambridge
     [1, 1, 1, 1]  ~  [0, 1, 0, 0]
  thr increased:  11
paul mauriat - [1, 1, 1, 0]
     paul mauriat  matched with  alyssa milano
     [1, 1, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
miriam makeba - [1, 0, 1, 1]
     miriam makeba  matched with  amanda sedgwick
     [1, 0, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
desmond dekker - [1, 1, 1, 0]
     desmond dekker  matched with  ambra vespasiani
     [1, 1, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
maurice jarre - [0, 1, 1, 1]
     maurice jarre  matched with  amilcar boscan
     [0, 1, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
chavela vargas - [0, 1, 1, 1]
     chavela vargas  matched with  amir jalal
     [0, 1, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
artie shaw - [1, 0, 1, 1]
     artie shaw  matched with  amit peled
     [1, 0, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
mary travers - [1, 1, 0, 0]
     mary travers  matched with  amy duncan
     [1, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
elmer bernstein - [0, 0, 1, 1]
     elmer bernstein  matched with  amy gallatin
     [0, 0, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
deanna durbin - [0, 1, 0, 1]
     deanna durbin  matched with  anadwo bea
     [0, 1, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
riz ortolani - [1, 0, 0, 1]
     riz ortolani  matched with  ananda kirtan
     [1, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
karlheinz stockhausen - [1, 1, 0, 0]
     karlheinz stockhausen  matched with  andras schiff
     [1, 1, 0, 0]  ~  [0, 0, 1, 3]
  thr increased:  11
willy deville - [0, 0, 1, 1]
     willy deville  matched with  andre bauge
     [0, 0, 1, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
scott mckenzie - [0, 1, 1, 0]
     scott mckenzie  matched with  andrea daly
     [0, 1, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
akira ifukube - [0, 1, 1, 0]
     akira ifukube  matched with  andrea marcon
     [0, 1, 1, 0]  ~  [0, 0, 2, 0]
  thr increased:  11
lucky dube - [0, 1, 0, 0]
     lucky dube  matched with  andreas dorau
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
gian carlo menotti - [0, 1, 0, 0]
     gian carlo menotti  matched with  andreas macco
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
leyla gencer - [1, 0, 0, 0]
     leyla gencer  matched with  andrei shishlov
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
alain bashung - [0, 0, 0, 1]
     alain bashung  matched with  andres cepeda
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
kevin dubrow - [1, 0, 0, 0]
     kevin dubrow  matched with  andrew balio
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ivan rebroff - [1, 0, 0, 0]
     ivan rebroff  matched with  andrew hyra
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
sara montiel - [0, 0, 0, 1]
     sara montiel  matched with  andrezj panufnik
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
henri dutilleux - [0, 0, 0, 1]
     henri dutilleux  matched with  andy abraham
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
claude nougaro - [0, 0, 1, 0]
     claude nougaro  matched with  andy mullen
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
hans werner henze - [0, 0, 0, 1]
     hans werner henze  matched with  angela davis
     [0, 0, 0, 1]  ~  [0, 0, 0, 0]
  thr increased:  11
bebo valdés - [0, 0, 1, 0]
     bebo valdés  matched with  angelyna martinez
     [0, 0, 1, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
paco de lucía - [1, 0, 0, 0]
     paco de lucía  matched with  ann louise christensen
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
györgy ligeti - [0, 0, 0, 1]
     györgy ligeti  matched with  anne lebaron
     [0, 0, 0, 1]  ~  [0, 0, 1, 0]
  thr increased:  11
alicia de larrocha - [0, 1, 0, 0]
     alicia de larrocha  matched with  anne paxton
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ronnie drew - [1, 0, 0, 0]
     ronnie drew  matched with  anneli pfeffer
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tommy ramone - [1, 0, 0, 0]
     tommy ramone  matched with  annett louisan
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
cesare siepi - [1, 0, 0, 0]
     cesare siepi  matched with  anthony baskey
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
giuseppe taddei - [1, 0, 0, 0]
     giuseppe taddei  matched with  anthony hannigan
     [1, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
wojciech kilar - [0, 1, 0, 0]
     wojciech kilar  matched with  anthony robustelli
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
eydie gormé - [0, 1, 0, 0]
     eydie gormé  matched with  antonio barbosa
     [0, 1, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
maurice andré - [0, 0, 0, 0]
     maurice andré  matched with  antonio zambujo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
noel redding - [0, 0, 0, 0]
     noel redding  matched with  ara ketu
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
maurice gibb - [0, 0, 0, 0]
     maurice gibb  matched with  arcangelo corelli
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
150  subjects out of  368
michael tippett - [0, 0, 0, 0]
     michael tippett  matched with  archie bleyer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
mel tormé - [0, 0, 0, 0]
     mel tormé  matched with  ari borger
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
mikel laboa - [0, 0, 0, 0]
     mikel laboa  matched with  ari eisinger
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
nina simone - [0, 0, 0, 0]
     nina simone  matched with  arigon starr
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
mrs miller - [0, 0, 0, 0]
     mrs miller  matched with  aristodemo giorgini
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
milt jackson - [0, 0, 0, 0]
     milt jackson  matched with  arthur grumiaux
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
milton babbitt - [0, 0, 0, 0]
     milton babbitt  matched with  arthur prysock
     [0, 0, 0, 0]  ~  [0, 2, 1, 0]
  thr increased:  11
mauricio kagel - [0, 0, 0, 0]
     mauricio kagel  matched with  artimus pyle
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
michael kamen - [0, 0, 0, 0]
     michael kamen  matched with  artur milstein
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
marcel mule - [0, 0, 0, 0]
     marcel mule  matched with  arup chatterjee
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
michael karoli - [0, 0, 0, 0]
     michael karoli  matched with  ashley solomon
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
michel petrucciani - [0, 0, 0, 0]
     michel petrucciani  matched with  ataru nakamura
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
nicolette larson - [0, 0, 0, 0]

     nicolette larson  matched with  athena reich
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
nat adderley - [0, 0, 0, 0]
     nat adderley  matched with  atlantean kodex
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
michael hutchence - [0, 0, 0, 0]
     michael hutchence  matched with  atlantis ita
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
michael hedges - [0, 0, 0, 0]
     michael hedges  matched with  au ras au ras
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
marcel dadi - [0, 0, 0, 0]
     marcel dadi  matched with  augustin dumay
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
nazia hassan - [0, 0, 0, 0]
     nazia hassan  matched with  aurore bucher
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
norman smith - [0, 0, 0, 0]
     norman smith  matched with  ayaka ide
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
natasja saad - [0, 0, 0, 0]
     natasja saad  matched with  ayako oshima
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
adrian borland - [0, 0, 0, 0]
     adrian borland  matched with  babette dorn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
nusrat fateh ali khan - [0, 0, 0, 0]
     nusrat fateh ali khan  matched with  bailables escolares
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tony williams - [0, 0, 0, 0]
     tony williams  matched with  baird dan
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
shawn lane - [0, 0, 0, 0]
     shawn lane  matched with  bak gi eong
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
shinichi suzuki - [0, 0, 0, 0]
     shinichi suzuki  matched with  baldassare galuppi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
sonny bono - [0, 0, 0, 0]
     sonny bono  matched with  banda blanca
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
stuart adamson - [0, 0, 0, 0]
     stuart adamson  matched with  banda improvvisa
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
sviatoslav richter - [0, 0, 0, 0]
     sviatoslav richter  matched with  banda magda
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tammy wynette - [0, 0, 0, 0]
     tammy wynette  matched with  barbara ruskin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
the notorious big - [0, 0, 0, 0]
     the notorious big  matched with  barbra higbie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
thelma carpenter - [0, 0, 0, 0]
     thelma carpenter  matched with  barney kessell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tikhon khrennikov - [0, 0, 0, 0]
     tikhon khrennikov  matched with  barry cleveland
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tiny tim - [0, 0, 0, 0]
     tiny tim  matched with  barry levenson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tito puente - [0, 0, 0, 0]
     tito puente  matched with  barry tuckwell
     [0, 0, 0, 0]  ~  [1, 1, 1, 1]
  thr increased:  11
todd duncan - [0, 0, 0, 0]
     todd duncan  matched with  battista lena
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tony meehan - [0, 0, 0, 0]
     tony meehan  matched with  bavarian oktoberfest
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
townes van zandt - [0, 0, 0, 0]
     townes van zandt  matched with  bayerische kammerphilharmonie
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ofra haza - [0, 0, 0, 0]
     ofra haza  matched with  bbc philarmonic dixon
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
tupac shakur - [0, 0, 0, 0]
     tupac shakur  matched with  beamont hannant
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
vagn holmboe - [0, 0, 0, 0]
     vagn holmboe  matched with  bebe buell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
van stephenson - [0, 0, 0, 0]
     van stephenson  matched with  beethoven lu
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
victor borge - [0, 0, 0, 0]
     victor borge  matched with  behn gillece
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
victoria de los ángeles - [0, 0, 0, 0]
     victoria de los ángeles  matched with  bella sonus
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
violetta villas - [0, 0, 0, 0]
     violetta villas  matched with  belleruth naparstek
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
vivian ellis - [0, 0, 0, 0]
     vivian ellis  matched with  belo velloso
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
walter berry - [0, 0, 0, 0]
     walter berry  matched with  belushi aykroyd
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
walter trampler - [0, 0, 0, 0]
     walter trampler  matched with  benoit jazzworks
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
warren zevon - [0, 0, 0, 0]
     warren zevon  matched with  bernadette antoine
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
waylon jennings - [0, 0, 0, 0]
     waylon jennings  matched with  bert sommer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
wendy o williams - [0, 0, 0, 0]
     wendy o williams  matched with  bestial warlust
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
200  subjects out of  368
yehudi menuhin - [0, 0, 0, 0]
     yehudi menuhin  matched with  beto guedes
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
screamin jay hawkins - [0, 0, 0, 0]
     screamin jay hawkins  matched with  betsyann faiella
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
scatman john - [0, 0, 0, 0]
     scatman john  matched with  bettina koster
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
sacha distel - [0, 0, 0, 0]
     sacha distel  matched with  betty shirley
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rudolf barshai - [0, 0, 0, 0]
     rudolf barshai  matched with  beverly taft
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
oliver - [0, 0, 0, 0]
     oliver  matched with  bibi gaytan
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
paul delph - [0, 0, 0, 0]
     paul delph  matched with  bigg nastee
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
paul gray - [0, 0, 0, 0]
     paul gray  matched with  bjorn casapietra
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
peggy lee - [0, 0, 0, 0]
     peggy lee  matched with  blut aus nord
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
perry como - [0, 0, 0, 0]
     perry como  matched with  bodil niska
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
phyllis nelson - [0, 0, 0, 0]
     phyllis nelson  matched with  boris gardiner
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
pilar lorengar - [0, 0, 0, 0]
     pilar lorengar  matched with  boyan vodenitcharov
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
pops staples - [0, 0, 0, 0]
     pops staples  matched with  br gunna
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
quorthon - [0, 0, 0, 0]
     quorthon  matched with  bradley brookshire
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ray brown - [0, 0, 0, 0]
     ray brown  matched with  brainy baby®
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ray conniff - [0, 0, 0, 0]
     ray conniff  matched with  breakdownd ost
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
renato russo - [0, 0, 0, 0]
     renato russo  matched with  brenda holloway
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rex allen - [0, 0, 0, 0]
     rex allen  matched with  brenda weiler
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rex gildo - [0, 0, 0, 0]
     rex gildo  matched with  brendan maffeo
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rex nelon - [0, 0, 0, 0]
     rex nelon  matched with  brenton fernandez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rich mullins - [0, 0, 0, 0]
     rich mullins  matched with  brett perkins
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
richard berry - [0, 0, 0, 0]
     richard berry  matched with  brian applegate
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rick danko - [0, 0, 0, 0]
     rick danko  matched with  brian blain
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rio reiser - [0, 0, 0, 0]
     rio reiser  matched with  brian ladd
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
robert palmer - [0, 0, 0, 0]
     robert palmer  matched with  brian lother
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
robert simpson - [0, 0, 0, 0]

     robert simpson  matched with  brian zeger
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
roger troutman - [0, 0, 0, 0]
     roger troutman  matched with  brianna haynes
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rosalyn tureck - [0, 0, 0, 0]
     rosalyn tureck  matched with  bridget stjohn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rose maddox - [0, 0, 0, 0]
     rose maddox  matched with  britten sinfonia
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rosemary clooney - [0, 0, 0, 0]
     rosemary clooney  matched with  brooklyn rundfunk orkestrata
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
roy rogers - [0, 0, 0, 0]
     roy rogers  matched with  bruce eskovitz
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
rozz williams - [0, 0, 0, 0]
     rozz williams  matched with  bruce roberts
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
manolo escobar - [0, 0, 0, 0]
     manolo escobar  matched with  bruno leonardo gelber
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
john phillips - [0, 0, 0, 0]
     john phillips  matched with  bruno spoerri
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
malcolm arnold - [0, 0, 0, 0]
     malcolm arnold  matched with  bryan fenkart
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
donald oconnor - [0, 0, 0, 0]
     donald oconnor  matched with  bryan loren
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
chet atkins - [0, 0, 0, 0]
     chet atkins  matched with  bryan ragsdale
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
chico science - [0, 0, 0, 0]
     chico science  matched with  bryan terrell clark
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
chuck schuldiner - [0, 0, 0, 0]
     chuck schuldiner  matched with  buedi siebert
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
clive burr - [0, 0, 0, 0]
     clive burr  matched with  bubba sparxxx
     [0, 0, 0, 0]  ~  [1, 1, 0, 0]
  thr increased:  11
compay segundo - [0, 0, 0, 0]
     compay segundo  matched with  burt reynolds
     [0, 0, 0, 0]  ~  [0, 0, 0, 1]
  thr increased:  11
conlon nancarrow - [0, 0, 0, 0]
     conlon nancarrow  matched with  bw stevenson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
contemporary r&b - [0, 0, 0, 0]
     contemporary r&b  matched with  cacho castana
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
cozy powell - [0, 0, 0, 0]
     cozy powell  matched with  cacho tirao
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
curtis mayfield - [0, 0, 0, 0]
     curtis mayfield  matched with  caitlin canty
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
dave edwards - [0, 0, 0, 0]
     dave edwards  matched with  caleb quaye
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
david tudor - [0, 0, 0, 0]
     david tudor  matched with  camilla tilling
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
dee dee ramone - [0, 0, 0, 0]
     dee dee ramone  matched with  camille yarbrough
     [0, 0, 0, 0]  ~  [0, 0, 0, 1]
  thr increased:  11
dennis brown - [0, 0, 0, 0]
     dennis brown  matched with  camu tao
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
dj screw - [0, 0, 0, 0]
     dj screw  matched with  candido camero
     [0, 0, 0, 0]  ~  [0, 0, 0, 1]
  thr increased:  11
250  subjects out of  368
doug sahm - [0, 0, 0, 0]
     doug sahm  matched with  capella fidicinia
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
charles trenet - [0, 0, 0, 0]
     charles trenet  matched with  capitaine revolte
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
dudley moore - [0, 0, 0, 0]
     dudley moore  matched with  capt dr todd
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
dusty springfield - [0, 0, 0, 0]
     dusty springfield  matched with  cara quici
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
eddie harris - [0, 0, 0, 0]
     eddie harris  matched with  carla hassett
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
eddie rabbitt - [0, 0, 0, 0]
     eddie rabbitt  matched with  carlo gaifa
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
edwin starr - [0, 0, 0, 0]
     edwin starr  matched with  carlos martinez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
eldon hoke - [0, 0, 0, 0]
     eldon hoke  matched with  carlos pizarro
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ella fitzgerald - [0, 0, 0, 0]
     ella fitzgerald  matched with  carly koehn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
elliott smith - [0, 0, 0, 0]
     elliott smith  matched with  carole aoun
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ernest gold - [0, 0, 0, 0]
     ernest gold  matched with  caspar brötzmann
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
falco - [0, 0, 0, 0]
     falco  matched with  castaldi bellerofonte
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
faron young - [0, 0, 0, 0]
     faron young  matched with  catherine braslavsky
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
fat pat - [0, 0, 0, 0]
     fat pat  matched with  causa sui
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
fela kuti - [0, 0, 0, 0]
     fela kuti  matched with  cb fisk
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
franco corelli - [0, 0, 0, 0]
     franco corelli  matched with  cb heinemann
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
charlie byrd - [0, 0, 0, 0]
     charlie byrd  matched with  cecilia coleman
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
celia cruz - [0, 0, 0, 0]
     celia cruz  matched with  cecylia arzewski
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
  thr increased:  11
lynn strait - [0, 0, 0, 0]
     lynn strait  matched with  celi gadji
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
benny carter - [0, 0, 0, 0]
     benny carter  matched with  celina gonzalez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
al hirt - [0, 0, 0, 0]
     al hirt  matched with  celine nessi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
alan hovhaness - [0, 0, 0, 0]
     alan hovhaness  matched with  cephalic carnage
     [0, 0, 0, 0]  ~  [1, 2, 0, 0]
  thr increased:  11
alfred schnittke - [0, 0, 0, 0]
     alfred schnittke  matched with  chalino sanchez
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
alfredo kraus - [0, 0, 0, 0]
     alfredo kraus  matched with  chango spasiuk
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
alice babs - [0, 0, 0, 0]
     alice babs  matched with  charanga america
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
amie comeaux - [0, 0, 0, 0]
     amie comeaux  matched with  charles burles
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
amália rodrigues - [0, 0, 0, 0]
     amália rodrigues  matched with  charles burles michel trempont jules bastin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
anita carter - [0, 0, 0, 0]
     anita carter  matched with  charles dittell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
anthony newley - [0, 0, 0, 0]
     anthony newley  matched with  charles evans
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
arik einstein - [0, 0, 0, 0]
     arik einstein  matched with  charles gayle
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
art farmer - [0, 0, 0, 0]
     art farmer  matched with  charles gounod
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
arthur tracy - [0, 0, 0, 0]
     arthur tracy  matched with  charles panzera
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
barry white - [0, 0, 0, 0]
     barry white  matched with  charles stephen hughes
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
benjamin orr - [0, 0, 0, 0]
     benjamin orr  matched with  che guevara
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
benny green - [0, 0, 0, 0]
     benny green  matched with  chelsea quealey
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
carlos surinach - [0, 0, 0, 0]
     carlos surinach  matched with  cheo feliciano
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
betty carter - [0, 0, 0, 0]
     betty carter  matched with  chiaki ishikawa
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
big l - [0, 0, 0, 0]
     big l  matched with  chloe hanslip
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
big pun - [0, 0, 0, 0]
     big pun  matched with  chor der oper frankfurt
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
bill monroe - [0, 0, 0, 0]
     bill monroe  matched with  chor monteverdi
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
billy mackenzie - [0, 0, 0, 0]
     billy mackenzie  matched with  chris brause
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
bismillah khan - [0, 0, 0, 0]
     bismillah khan  matched with  chris bryan
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
bob merrill - [0, 0, 0, 0]
     bob merrill  matched with  chris edwards
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
boxcar willie - [0, 0, 0, 0]

     boxcar willie  matched with  chris irwin
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
bradley nowell - [0, 0, 0, 0]
     bradley nowell  matched with  christian andreason
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
brian connolly - [0, 0, 0, 0]
     brian connolly  matched with  christian blackshaw
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
bulat okudzhava - [0, 0, 0, 0]
     bulat okudzhava  matched with  christian du plessis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
burton lane - [0, 0, 0, 0]
     burton lane  matched with  christian wolff
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
carl perkins - [0, 0, 0, 0]
     carl perkins  matched with  christiane eda-pierre
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
carl wilson - [0, 0, 0, 0]
     carl wilson  matched with  christof fischeser
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
300  subjects out of  368
frank de vol - [0, 0, 0, 0]
     frank de vol  matched with  christoph spendel
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
frankie ruiz - [0, 0, 0, 0]
     frankie ruiz  matched with  christophe toussaint
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
frankie vaughan - [0, 0, 0, 0]
     frankie vaughan  matched with  christopher robertson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
larry adler - [0, 0, 0, 0]
     larry adler  matched with  cindy endres
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
joey ramone - [0, 0, 0, 0]
     joey ramone  matched with  cindy lara
     [0, 0, 0, 0]  ~  [0, 0, 0, 1]
  thr increased:  11
johannes heesters - [0, 0, 0, 0]
     johannes heesters  matched with  clara haskil
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
john denver - [0, 0, 0, 0]
     john denver  matched with  clare torry
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
john duffey - [0, 0, 0, 0]
     john duffey  matched with  claude bolling
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
john entwistle - [0, 0, 0, 0]
     john entwistle  matched with  claude challe
     [0, 0, 0, 0]  ~  [2, 0, 2, 3]
  thr increased:  11
john lee hooker - [0, 0, 0, 0]
     john lee hooker  matched with  claudi scimone
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
johnny adams - [0, 0, 0, 0]
     johnny adams  matched with  claudia schubert
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
johnny cash - [0, 0, 0, 0]
     johnny cash  matched with  claudio dauelsberg
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
judge dread - [0, 0, 0, 0]
     judge dread  matched with  clyde hopkins
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
julie london - [0, 0, 0, 0]
     julie london  matched with  clément doucet
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
june carter cash - [0, 0, 0, 0]
     june carter cash  matched with  cm cozzolani
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
kathryn grayson - [0, 0, 0, 0]
     kathryn grayson  matched with  concerto amsterdam
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
kirka - [0, 0, 0, 0]
     kirka  matched with  corey andrew
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
kirsty maccoll - [0, 0, 0, 0]
     kirsty maccoll  matched with  cornelius hauptmann
     [0, 0, 0, 0]  ~  [0, 0, 1, 0]
  thr increased:  11
laura nyro - [0, 0, 0, 0]
     laura nyro  matched with  coro católico navideño virgen maría
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
frankie yankovic - [0, 0, 0, 0]
     frankie yankovic  matched with  cosmo vitelli
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lavern baker - [0, 0, 0, 0]
     lavern baker  matched with  craig russell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
layne staley - [0, 0, 0, 0]
     layne staley  matched with  craig strazzullos
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
leroy vinnegar - [0, 0, 0, 0]
     leroy vinnegar  matched with  crhyme musick
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
leslie cheung - [0, 0, 0, 0]
     leslie cheung  matched with  cristina piperno
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
linda mccartney - [0, 0, 0, 0]
     linda mccartney  matched with  cuban hip-hop all-stars
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lionel bart - [0, 0, 0, 0]
     lionel bart  matched with  cui jian
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lionel hampton - [0, 0, 0, 0]
     lionel hampton  matched with  curtis macomber
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lisa lopes - [0, 0, 0, 0]
     lisa lopes  matched with  curtis nickelson
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lou harrison - [0, 0, 0, 0]
     lou harrison  matched with  curtiss maldoon
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lounès matoub - [0, 0, 0, 0]
     lounès matoub  matched with  cutugno toto
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
luciano berio - [0, 0, 0, 0]
     luciano berio  matched with  cynthia miller-jones
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lucio battisti - [0, 0, 0, 0]
     lucio battisti  matched with  cynthia wyatt
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
lucio dalla - [0, 0, 0, 0]
     lucio dalla  matched with  cyrus faryar
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
luther allison - [0, 0, 0, 0]
     luther allison  matched with  dafinis sextet prieto
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
joel goldsmith - [0, 0, 0, 0]
     joel goldsmith  matched with  daichi miura
     [0, 0, 0, 0]  ~  [0, 1, 0, 0]
  thr increased:  11
joe williams - [0, 0, 0, 0]
     joe williams  matched with  dallas arcand
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jimmy witherspoon - [0, 0, 0, 0]
     jimmy witherspoon  matched with  dan cohen
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jimmy roberts - [0, 0, 0, 0]
     jimmy roberts  matched with  dan evans
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
galina vishnevskaya - [0, 0, 0, 0]
     galina vishnevskaya  matched with  dan haerle
     [0, 0, 0, 0]  ~  [1, 0, 0, 0]
  thr increased:  11
gene autry - [0, 0, 0, 0]
     gene autry  matched with  dan kennedy
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
gene eugene - [0, 0, 0, 0]
     gene eugene  matched with  dan matz
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
george howard - [0, 0, 0, 0]
     george howard  matched with  dan meyers
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
giulietta simionato - [0, 0, 0, 0]
     giulietta simionato  matched with  dan tepfer
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
giuseppe sinopoli - [0, 0, 0, 0]
     giuseppe sinopoli  matched with  dan troxell
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
glen buxton - [0, 0, 0, 0]
     glen buxton  matched with  dan weiss
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
grandpa jones - [0, 0, 0, 0]
     grandpa jones  matched with  dana dragomir
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
grégory lemarchal - [0, 0, 0, 0]
     grégory lemarchal  matched with  dana talley
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
guy mitchell - [0, 0, 0, 0]
     guy mitchell  matched with  daniel rene
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
hank snow - [0, 0, 0, 0]
     hank snow  matched with  daniel rothert
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
helen forrest - [0, 0, 0, 0]
     helen forrest  matched with  daniel taylor
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
350  subjects out of  368
herman brood - [0, 0, 0, 0]
     herman brood  matched with  daniela mazzuccato
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
hermann prey - [0, 0, 0, 0]
     hermann prey  matched with  danny oflaherty
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
hide - [0, 0, 0, 0]
     hide  matched with  danny vaughn
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
howard keel - [0, 0, 0, 0]
     howard keel  matched with  danny walsh
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
hoyt axton - [0, 0, 0, 0]
     hoyt axton  matched with  danny weis
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
ian dury - [0, 0, 0, 0]
     ian dury  matched with  danthony jonzun
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
iannis xenakis - [0, 0, 0, 0]

     iannis xenakis  matched with  darek oleszkiewicz
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
irving caesar - [0, 0, 0, 0]
     irving caesar  matched with  dariusz skoraczewski
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
isaac stern - [0, 0, 0, 0]
     isaac stern  matched with  darlene ahuna
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
israel kamakawiwo?ole - [0, 0, 0, 0]
     israel kamakawiwo?ole  matched with  darlene mccoy
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
izumi sakai - [0, 0, 0, 0]
     izumi sakai  matched with  darrell mcfadden
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jacob druckman - [0, 0, 0, 0]
     jacob druckman  matched with  darren ockert
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jam master jay - [0, 0, 0, 0]
     jam master jay  matched with  dave armstrong
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jeff buckley - [0, 0, 0, 0]
     jeff buckley  matched with  dave atherton
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jeff hanneman - [0, 0, 0, 0]
     jeff hanneman  matched with  dave biller
     [0, 0, 0, 0]  ~  [1, 1, 2, 1]
  thr increased:  11
jermaine stewart - [0, 0, 0, 0]
     jermaine stewart  matched with  dave braff
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
jimmie davis - [0, 0, 0, 0]
     jimmie davis  matched with  dave catney
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
yvonne loriod - [0, 0, 0, 0]
     yvonne loriod  matched with  dave chisholm
     [0, 0, 0, 0]  ~  [0, 0, 0, 0]
  thr increased:  11
DONE

# Results

In [26]:
res = pd.DataFrame()

res['sbj'] = sbj_list
res['sbj_feats'] = sbj_feat_list
res['death date'] = sbj_death_list
res['ctl_feats'] = ctl_feat_list
res['ctl'] = ctl_list

res.head()

,sbj,sbj_feats,death date,ctl_feats,ctl
0,proof,"[107, 114, 112, 155]",2006-04-11,"[106, 72, 57, 70]",elvis presley
1,george jones,"[135, 102, 100, 86]",2013-04-26,"[71, 81, 92, 79]",george harrison
2,jj cale,"[25, 50, 99, 136]",2013-07-26,"[37, 80, 102, 144]",steve winwood
3,the rev,"[52, 52, 84, 65]",2009-12-28,"[16, 23, 25, 26]",daniel lanois
4,lou reed,"[79, 39, 37, 29]",2013-10-27,"[42, 43, 22, 32]",kacey musgraves

In [27]:
# TODO - REMOVE
'''
ctrl_features = pd.DataFrame(ctrl_list, columns=['ctrl_name'])
ctrl_features['ctrl_reviews'] = count_list

res = pd.concat([ctrl_features.reset_index(), sorted_subjects.reset_index()], axis=1)\
            .drop('index', axis=1)
res['error'] = np.abs(res['ctrl_reviews'] - res['reviews'])/(2*(1+res['ctrl_reviews'] + res['reviews']))

res.sort_values(by='error', ascending=False).head()
'''

"\nctrl_features = pd.DataFrame(ctrl_list, columns=['ctrl_name'])\nctrl_features['ctrl_reviews'] = count_list\n\nres = pd.concat([ctrl_features.reset_index(), sorted_subjects.reset_index()], axis=1)            .drop('index', axis=1)\nres['error'] = np.abs(res['ctrl_reviews'] - res['reviews'])/(2*(1+res['ctrl_reviews'] + res['reviews']))\n\nres.sort_values(by='error', ascending=False).head()\n"

In [28]:
# TODO - REMOVE
#ctrl_features.hist(column='ctrl_reviews', figsize=[10,10], bins=100)

In [29]:
# TODO - REMOVE
#subjects_feats.hist(column='reviews', figsize=[10,10], bins=100)

# Export results

In [30]:
subjects_nb = str(res.shape[0]-1)
sbj_reviews.to_csv('reviews_subjects_'+subjects_nb+'_vectormatched.csv', index=False)
ctl_reviews.to_csv('reviews_controls_'+subjects_nb+'_vectormatched.csv', index=False)
res.to_csv('matchings_'+subjects_nb+'_vectormatched.csv', index=False)